:root {
  --primary-color: beige;
  --secondary-color: peru;
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url("../assets/images/background2.jpg");
  background-size: cover;
  background-position: center;
}

header {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 2px solid beige;
  z-index: 9999;
}

header a {
  text-decoration: none;
}

header nav {
  margin: auto 0;
}
header h1 {
  font-size: 3.5vw;
  color: beige;
  margin: 0;
  align-content: flex-start;
  padding: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: beige;
  justify-content: space-between;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--primary-color);
  margin: 0;
}

h2 {
  font-size: 40px;
  color: beige;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10%;
  align-content: flex-start;
}

.me-title {
  flex: 0 0 25%;
  border-right: 6px solid beige;
  text-align: right;
  padding: 10px 10px 0 0;
  margin: 1em;
}

.me-content {
  flex: 0 0 70%;
  display: flex;
  align-content: space-between;
  padding: 2em;
  justify-content: space-between;
}
.me-item {
  flex: 0 0 40%;
  padding: 2em;
}

.two-columns {
  width: 100%;
  display: flex;
  padding: 0 10%;
}

.col-title {
  flex: 0 0 25%;
  border-right: 6px solid beige;
  text-align: right;
  padding: 10px 10px 0 0;
  margin: 1em;
}

.col-content {
  flex: 0 0 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-item {
  flex: 0 0 50%;
  padding: 2em;
}

.col-item-full {
  flex: 1 100%;
}

.col-item > a {
  display: block;
  border: 3px solid peru;
  height: 300px;
  position: relative;
}

.col-item > a > span {
  position: absolute;
  bottom: 1em;
  left: 1em;
  text-decoration: none;
  color: black;
}
.col-item > a > span:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.flex-grow {
  flex: 1;
}

.back-ground-img {
  background-image: url("../assets/images/background.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.me {
  align-content: space-between;
}
.me-item p {
  font-size: 28px;
  color: beige;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.works1 {
  background-image: url("../assets/images/my-work-1.png");
}

.works2 {
  background-image: url("../assets/images/my-work-2.png");
}

.works3 {
  background-image: url("../assets/images/my-work-3.png");
}

.works4 {
  background-image: url("../assets/images/my-work-4.png");
}

.works5 {
  background-image: url("../assets/images/my-work-5.png");
}

.img-style {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-title {
  flex: 0 0 25%;
  border-right: 6px solid beige;
  padding: 10px 10px 0 0;
  margin: 1em;
}

.contact-content {
  flex: 0 0 58%;
}
.contact-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: beige;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--primary-color);
  justify-content: space-between;
}

.contact-content a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--primary-color);
  margin: 0;
}

a:hover {
  background-color: none;
  color: rgba(255, 255, 0, 0.5);
  border-bottom: 2px solid yellow;
}

.two-columns a:hover {
  background-image: none;
  background-color: rgba(255, 255, 0, 1);
  border: 8px solid yellow;
}

@media screen and (max-width: 1080px) {
  body {
    background-image: url("../assets/images/background.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .back-ground-img {
    background-image: none;
  }
  header {
    padding-bottom: 0;
    justify-content: center;
    position: sticky;
    padding-left: 0;
    padding-right: 0;
  }

  header h1 {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .me-title {
    border: none;
    flex: 100%;
    text-align: center;
    border-bottom: 6px solid beige;
  }

  .me-content {
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 0;
  }
  .two-columns {
    max-width: 100%;
    flex-direction: column;
    margin: 1em;
  }

  .col-item {
    flex: 100%;
  }

  .col-title {
    border: none;
    flex: 100%;
    text-align: center;
    border-bottom: 6px solid beige;
  }

  .contact-flex {
    flex-direction: column;
  }

  .contact-title {
    flex: 100%;
    border: none;
    text-align: center;
    border-bottom: 6px solid beige;
  }

  .contact-content ul {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
  }

  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 20px;
    }

    .contact-content ul {
      flex-direction: column;
      align-items: center;
    }

    .contact-content ul a {
      font-size: 15px;
      visibility: hidden;
      flex: 1;
      align-items: center;
    }

    .small-screen-1::after {
      visibility: visible;
      content: "PHONE";
    }

    .small-screen-2::after {
      visibility: visible;
      content: "EMAIL";
    }

    .small-screen-3::after {
      visibility: visible;
      content: "GIT";
    }
  }
}
